# Core ML Libraries
torch
transformers
datasets

# FastAPI for Model Serving
fastapi
uvicorn

# MLOps & Tracking
dvc
mlflow

# Utility Libraries
pydantic
python-dotenv
numpy
pandas
scikit-learn

# Optional: For Jupyter Notebook Experiments
jupyterlab
matplotlib
seaborn